

*{
    margin:0;
    padding:0;
}


section.timeline-wrapper{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
}
h2.virus-name{
    color: #659F7C;
    font-size: 45px;
    position: absolute;
    top:-320px;
    left:-29px;
}
.timeline{
    position: relative;
    width:100vw;
    height:5px;
    background-color: #d74e12;
    display: flex;
    justify-content: space-around;

}

.timeline-item img{
    transform:translateY(-50%);
    position: relative;
    z-index: 1;
}

#screening{
    transform:rotate(180deg);
}

.card-wrapper{
    position: relative;
    display: flex;
}

.virus-icon-borders{
    position: absolute;
    width:44px;
    height:342px;
    top:-235px;
    left:43px;
    border-left: 1px solid #659F7C;  
    border-bottom: 1px solid #659F7C;;
}
.ver-border {
    width: 0;
    height: 270px;
}

.virus-icon-borders:before{
    content: "";
    width:7px;
    height:7px;
    border-radius:50%;
    position: absolute;
    top:-4px;
    left:-4px;
    background-color: #659F7C;
}
.virus-img {
    position: absolute;
    left:88px;
    top:53px;
    border:4px solid  #d74e12;
    border-radius: 50%;
}

.top-content-wrapper{
    width:295px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:-248px;
    left:-30px;
  
}


.side-content-holder p{
width:194px;
color:#616161;
font-size: 12px;
margin-top:7px;
margin-bottom: 1rem;
}

 .side-content-holder{
    display: flex;
    flex-direction: column;
}  

.side-content-holder a{
    color:#000;
    font-size: 16px;
    text-decoration: none;
}
 .timeline-item{  
    z-index:2;
 } 


.side-content-holder .year-number{
    font-size: 36px;
}

.card-wrapper:nth-child(even), .card-wrapper:nth-child(even) .top-content-wrapper, .card-wrapper:nth-child(even) h2 {
transform:rotate(180deg) scale(-1,1);
}


.card-wrapper:nth-child(even) .virus-icon-borders {
    z-index: -1;
}

.card-wrapper:nth-child(even) .side-content-holder{
    justify-content: flex-end;
}

.card-wrapper:nth-child(even) a{
    margin-bottom:32px;
   
}

.card-wrapper:nth-child(even) h2{
    color:#d74e12;
   
}